<h3 class="isp-events__title">{{ title }}</h3>

<form #vv="ngForm" (submit)="onSubmit(vv)">
  <div>
    1
    <input name="name" type="text" ngModel>
  </div>
  <div>
    2
    <input name="description" type="text" ngModel>
  </div>
  <div>
    3
    <input name="yoo" type="text" placeholder="ЙОУ?" ngModel>
  </div>
  <button  type="submit">Создать</button>
</form>

<pre>{{ vv.value | json }}</pre>

<div class="isp-events__list">
  <mat-grid-list gutterSize="20" cols="5" rowHeight="190px">
    <mat-grid-tile *ngFor="let meetup of meetupList" class="isp-event-list__tile">
      <app-meetup-card [meetup]="meetup" (remove)="deleteMeetup($event)">
      </app-meetup-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
