<mat-grid-list gutterSize="20" cols="5" rowHeight="190px">
  <mat-grid-tile>
    <mat-card>Hello kitty</mat-card>
  </mat-grid-tile>
</mat-grid-list>
<button [disabled]="true" [style.color]="color">Click me</button>
