<header>
  <app-menu></app-menu>
</header>

<main class="isp-content">
  <router-outlet></router-outlet>
</main>

<footer>
  <mat-toolbar class="isp-footer">
    <mat-toolbar-row class="isp-footer__row">
      <h3>ISPsystem ©, 2019</h3>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
